<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span></span></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-sref-active="active" href="/" title="home page">
                        <span class="fa fa-home"></span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a ui-sref-active="active" ui-sref="owners" title="find owners">
                        <span class="fa fa-search"></span>
                        <span>Find owners</span>
                    </a>
                </li>
                <li>
                    <a ui-sref-active="active" ui-sref="ownerNew" title="register owner">
                        <span class="fa fa-plus"></span>
                        <span>Register owner</span>
                    </a>
                </li>
                <li>
                    <a ui-sref-active="active" ui-sref="vets" title="veterinarians">
                        <span class="fa fa-th-list"></span>
                        <span>Veterinarians</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
